<footer class="footer" role="contentinfo">
  <div class="footer-content">
    <div class="footer-logo">
      <a href="https://www.cpcc.edu">
        <img src="https://cdn.cpcc.edu/v2/images/logos/white_logo.svg" alt="Central Piedmont Community College" class="footer-logo-img">
      </a>
    </div>
    <div class="footer-text">
      <p class="footer-license">
        Except where otherwise noted, this work is licensed under a
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </p>
      <p class="footer-copyright">
        &copy; {{or site.keys.copyright_year '2026'}} Central Piedmont Community College. All rights reserved.
      </p>
    </div>
  </div>
</footer>
